
body{
    margin: 0px;

}


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

nav ul{
    display: flex;
    align-items: center;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* shared style*/
.secondary-bg{
    background-color: #fff8f3;
}
.mary-r{
    color: #FD6E0A;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
    
}

/* Color*/

.dark-2{
    color: #474747;
}

/*nav button*/

.nav-btn{
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: ;
    color: #ffffff;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;


}
/*banner left*/
.banner-greetings{
    font-size: 45px;
    font-weight: 600;

}
.banner-title{
    font-weight: bold;
    font-size: 85px;


}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
    
}
.banner-content{
    max-width: 580px;
    
}

header{
    background-image: url('../Images/hbanner.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.section-description{
    font-size: 18px;
    color: #757575;
    text-align: center;
}

main{
    max-width: 1140px;
    margin:  0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/*about styles*/

.about{
    padding: 130px 150px ;
    text-align: center;

     
}
.about-items{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.item-description{
    font-weight: 600;
}

/*skills*/

.skill-container{
    display: flex;
    gap: 24px;
}

.skill img{
    width: 50px;
    height: 50px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgb(243, 243, 243);

}

/*Resume section style*/

.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
}
.experience-description, .experience-sub-title{
    color: #757575;
}
.summary-btn{
    margin-top: 50px;
    text-align: center;
}

.nav-btn a{
    text-decoration: none;
    color: #ffffff;
}
/*footer styles*/

footer{
    padding:  130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}

.ft-input{
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    display: block;
    width: 80%;
    padding: 10px 20px;
    border: none;
    margin-bottom: 10px;

}

.ft-textarea{
      height: 50px;
    border-radius: 5px;
    background-color: #ffffff;
    width: 80%;
    padding: 10px 20px;
    border: none;
    margin-bottom: 20px;
}

.social-icon a{
    margin-right: 10px;
    color: #FD6E0A;
}